= form_for @profile do |f|
  - if @profile.errors.any?
    #error_explanation
      %h2= "#{pluralize(@profile.errors.count, "error")} prohibited this profile from being saved:"
      %ul
        - @profile.errors.full_messages.each do |msg|
          %li= msg

= simple_form_for(@profile) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    .hidden
      = f.association :user

  .form-actions
    = f.button :submit, class: 'btn btn-success'
