%h2 Listing educations

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Institution
      %th Degree
      %th Start Date
      %th End Date
      %th
      %th
      %th

  %tbody
    - @educations.each do |education|
      %tr
        %td= education.institution
        %td= education.degree
        %td= education.start_date
        %td= education.end_date
        %td= link_to 'Show', education
        %td= link_to 'Edit', edit_education_path(education)
        %td= link_to 'Destroy', education, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Education', new_education_path
\|
= link_to 'Profile', profiles_path
